<app-header></app-header>
<section>
    <div class="container">
        <div class="content">
            <div class="description">
                <h1>Urban</h1>
            </div>
            <div class="double-wrap">
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22433_1" alt="22433">
                    <span class="ref">Suéter texturas, caramelo, azul, verde, bordô - 22433</span>
                </div>
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22433" alt="22433">
                    <span class="ref">Suéter texturas, verde - 22433</span>
                </div>
            </div>
            <div class="double-wrap">
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22412" alt="22412">
                    <span class="ref">Suéter textura listrada, marinho - 22412</span>
                </div>
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22412_1" alt="22412">
                    <span class="ref">Suéter textura listrada, verde, marinho - 22412</span>
                </div>
            </div>
            <div class="double-wrap">
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22414" alt="22414">
                    <span class="ref">Suéter jacquard, mescla marinho, verde - 22414</span>
                </div>
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22414_1" alt="22414">
                    <span class="ref">Suéter jacquard, mescla verde - 22414</span>
                </div>
            </div>
            <div class="double-wrap">
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22411" alt="22411">
                    <span class="ref">Suéter intarsia xadrez, mescla azul - 22411</span>
                </div>
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22411_1" alt="22411">
                    <span class="ref">Suéter intarsia xadrez, mescla preto - 22411</span>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>