<app-header></app-header>
<section>
    <div class="container">
        <div class="content">
            <div class="description">
                <h1>Classic</h1>
            </div>
            <div class="quad-wrap">
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22401" alt="22401">
                    <span class="ref">Suéter gola V - 22401</span>
                </div>
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22402" alt="22402">
                    <span class="ref">Suéter gola careca - 22402</span>
                </div>
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22403" alt="22403">
                    <span class="ref">Suéter meio zíper - 22403</span>
                </div>
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22435" alt="22435">
                    <span class="ref">Suéter gola rulê - 22435</span>
                </div>
            </div>
            <div class="triple-wrap">
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="azulCarameloAreia" alt="22406">
                    <span class="ref">Azul, caramelo, areia</span>
                </div>
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="marinhoBordoVerde" alt="22406">
                    <span class="ref">Marinho, bordô, verde</span>
                </div>
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="mesclaCinzaMesclaPretoPreto" alt="22406">
                    <span class="ref">Mescla cinza, mescla preto, preto</span>
                </div>
            </div>
            <div class="double-wrap">
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22406_1" alt="22406">
                    <span class="ref">Suéter textura listrado, verde, bordô - 22406</span>
                </div>
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22406" alt="22406">
                    <span class="ref">Suéter textura listrado - 22406</span>
                </div>
            </div>
            <div class="double-wrap">
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22404" alt="22404">
                    <span class="ref">Suéter tranças - 22404</span>
                </div>
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22404_1" alt="22404">
                    <span class="ref">Suéter tranças, bordô, marinho, preto - 22404</span>
                </div>
            </div>
            <div class="double-wrap">
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22409" alt="22409">
                    <span class="ref">Suéter textura gola V, mescla cinza, azul - 22409</span>
                </div>
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22409_1" alt="22409">
                    <span class="ref">Suéter textura gola V - 22409</span>
                </div>
            </div>
            <div class="double-wrap">
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22405_1" alt="22405">
                    <span class="ref">Suéter canelado meio zíper - 22405</span>
                </div>
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22405" alt="22405">
                    <span class="ref">Suéter canelado meio zíper, marinho, mescla preto - 22405</span>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>