<app-header></app-header>
<section>
    <div class="container">
        <div class="content">
            <div class="description">
                <h1>Authentic</h1>
            </div>
            <div class="double-wrap">
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22430_1" alt="22430">
                    <span class="ref">Suéter listrado meio zíper - 22430</span>
                </div>
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22430" alt="22430">
                    <span class="ref">Suéter listrado meio zíper - 22430</span>
                </div>
            </div>
            <div class="double-wrap">
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22423" alt="22423">
                    <span class="ref">Suéter cable knit - 22423</span>
                </div>
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22423_1" alt="22423">
                    <span class="ref">Suéter cable knit - 22423</span>
                </div>
            </div>
            <div class="double-wrap">
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22421" alt="22421">
                    <span class="ref">Suéter listrado - 22421</span>
                </div>
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22421_1" alt="22421">
                    <span class="ref">Suéter listrado - 22421</span>
                </div>
            </div>
            <div class="double-wrap">
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22425" alt="22425">
                    <span class="ref">Suéter gola chale - 22425</span>
                </div>
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22425_1" alt="22425">
                    <span class="ref">Suéter gola chale - 22425</span>
                </div>
            </div>
            <div class="double-wrap">
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22428" alt="22428">
                    <span class="ref">Básica gola V - 22428</span>
                </div>
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref22429" alt="22429">
                    <span class="ref">Básica gola careca - 22429</span>
                </div>
            </div>
            <div class="wrapper-img single">
                <img [defaultImage]="defaultImage" [lazyLoad]="ref22429_1" alt="21308">
                <span class="ref">Básica gola V, mescla terroso, verde, bege, azul, argila - 22428 - 22429</span>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>