.banner{
    width: 100%;
    height: 60vh;
    margin-top: 8em;
    display: flex;
    position: absolute;
    mask-image: linear-gradient(to top, transparent 6%, rgba(0, 0, 0, 1.0) 100%);
    img{
        width: 100%;
        background-size: contain;
        object-fit: cover;
        object-position: 50% 40%;
        background-position: 0 100%;
    }
}
.container{
    position: absolute;
    margin-top: 7em;
    padding: 0 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    .content{
        padding: 6em 0;
        height: 100%;
        max-height: 110vh;
        max-width: 1440px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        .infos{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            .wrapper{
                height: 190px;
                h1{
                    color: #101010;
                    font-size: 3.2em;
                    margin-bottom: 10px;
                    line-height: 34px;
                }
                span{
                    color: #101010;
                    font-size: 1.5em;
                    line-height: 28px;
                    font-weight: 500;
                }
            }
            .wrapper:nth-child(1){
                margin-right: 14em;
                a{
                    color: #101010;
                    font-size: 1.3em;
                    font-weight: 500;
                    border: 1px solid #101010;
                    padding: 1em 3em;
                    text-align: center;
                    background-color: var(--color-font);
                    position: relative;
                    top: 20px;
                    transition: .4s;
                    border-radius: .4em;
                }
                a:hover{
                    background-color: #101010;
                    color: var(--color-font);
                }
            }
        }
        .form{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 35%;
            margin-left: 1.9em;
            h1{
                width: 100%;
                font-size: 1.7em;
                font-weight: 500;
                line-height: 25px;
                color: var(--color-font);
                text-align: center;
            }
            .box{
                margin-top: 2.4em;
                width: 100%;
                height: 65em;
                background-color: #101010;
                -webkit-box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.51);
                -moz-box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.51);
                box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.51);
                form{
                    width: 100%;
                    height: 100%;
                    padding: 4em 3em;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    .field {
                        margin-bottom: 1.5em;
                        .error {
                            color: red;
                            font-size: 1.1em;
                        }
                        input{
                            width: 100%;
                            height: 4em;
                            font-size: 1.4em;
                            padding-left: 2em;
                            line-height: 40px;
                            border-radius: .4em;
                            outline: none;
                            border: none;
                            background-color: #282828;
                            color: var(--color-font);
                            transition: .4s;
                        }
                        input:focus{
                            background-color: #353535;
                        }
                        textarea{
                            padding: 1em 2em;
                            width: 100%;
                            height: 18em;
                            min-height: 15em;
                            max-height: 30em;
                            resize: none;
                            border-radius: .4em;
                            background-color: #353535;
                            color: var(--color-font);
                            font-size: 1.1em;
                            border: none;
                            outline: none;
                        }
                        select {
                            width: 100%;
                            height: 4em;
                            font-size: 1.4em;
                            padding-left: 2em;
                            line-height: 40px;
                            border-radius: .4em;
                            outline: none;
                            border: none;
                            background-color: #282828;
                            color: #757575;
                            transition: .4s;
                        }
                        select:focus {
                            background-color: #353535;
                        }
                        select.selected {
                            color: var(--color-font);
                        }
                    }
                    .submit{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        width: 100%;
                        height: 4em;
                        button{
                            font-size: 1.4em;
                            width: 14em;
                            height: 4em;
                            background-color: #353535;
                            cursor: pointer;
                            border: none;
                            outline: none;
                            color: var(--color-font);
                            transition: .4s;
                        }
                        button:hover{
                            background-color: #4d4d4d;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1160px) {
    .container{
        .content{
            max-height: none;
            flex-direction: column-reverse;
            align-items: center;
            .infos{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                .wrapper{
                    width: 100%;
                    text-align: center;
                    margin-top: 2.8em;
                }
                .wrapper:nth-child(1){
                    margin-right: 0;
                }
            }
            .form{ 
                width: 100%;
                max-width: 550px;
                margin-bottom: 4em;
            }
        }
    }
}