section {
    margin-top: 8.5em;
    height: auto;
    min-height: calc(100vh - 85px - 170px); // 100vh - header size - footer size
    display: flex;
    flex-direction: column;
    width: 100%;
}

section .container {
    margin-top: 7em;
    padding: 0 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    .content{
        width: 100%;
        max-width: 1080px;
        .description{
            width: 100%;
            h1{
                font-size: 3em;
                color: #101010;
            }
        }
        .company-text {
            display: flex;
            flex-direction: column;
            margin-top: 32px;
            strong.title {
                font-size: 1.8em;
                margin-bottom: 12px;
            }
            strong {
                font-size: 1.6em;
                margin-bottom: 4px;
            }
            p {
                font-size: 1.5em;
                line-height: 25px;
            }
        }
    }
}