<app-header></app-header>
<section>
  <div class="container">
    <div class="content">
      <div class="description">
        <h1>A Empresa</h1>
      </div>
      <div class="company-text">
        <strong class="title">VITTORIO VENETO</strong>
        <p>VITTORIO VENETO é a marca masculina da Simone Malhas, empresa familiar fundada em 1972. A VITTORIO
          VENETO busca agregar em seus produtos principais tendências em moda masculina, combinando modelagem
          moderna, cores e padronagens que seguem o que há de mais atual na moda contemporânea, mantendo
          sempre o conforto, a sofisticação e a qualidade.</p>
        <p>Celebramos o estilo único e independente através das nossas etiquetas: Classic, Urban e 
          Authentic.</p>
        <br>
        <strong>CLASSIC</strong>
        <p>A alma da marca. Definida por uma silhueta clássica e atemporal, que transcende as tendências.</p>
        <br>
        <strong>URBAN</strong>
        <p>Oferece um estilo moderno e design original, sempre em sintonia com as novidades da moda 
          masculina.</p>
        <br>
        <strong>AUTHENTIC</strong>
        <p>Visual despojado e aspiracional onde exercemos a liberdade de estilo e criação para uma nova
          identidade.</p>
        <br>
        <p>No ano em que comemoramos 50 anos, a VITTORIO VENETO preparou uma coleção especial, combinando
          sofisticação, criatividade e conforto. É esta elegância despretensiosa que faz com que a VITTORIO
          VENETO se destaque no segmento de moda masculina.</p>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>