<footer>
    <div class="content">
        <span>Rua Lucas Menegotto, 1270 <br> Bairro Nossa Senhora de Lourdes. - Caxias do Sul - RS <br><br> Telefone: (54) 3028-1933</span>
        <span class="link">
            <a routerLink="/representatives">Representantes</a>
        </span>
        <div class="links">
            <span>Siga a VITTORIO VENETO</span>
            <div class="social">
                <a href="https://www.facebook.com/vittoriovenetomenswear" target="_blank" class="social-icon">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://www.facebook.com/vittoriovenetomenswear" target="_blank">vittoriovenetomenswear</a>
            </div>
            <div class="social">
                <a href="https://www.instagram.com/vittorio_venetooficial/" target="_blank"  class="social-icon">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.instagram.com/vittorio_venetooficial/" target="_blank">vittorio_venetooficial</a>
            </div>
        </div>
    </div>
</footer>
