<footer>
    <div class="content">
        <span>Rua Lucas Menegotto, 1270 - Bairro Nossa Senhora de Lourdes. - Caxias do Sul - RS | Telefone: (54) 3028-1933 <br></span>
        <div class="links">
            <a href="face" class="face">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/vittorio_venetooficial/" target="_blank"  class="insta">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
</footer>
