<app-header></app-header>
<section>
    <div class="image">
        <img src="../../../assets/img/banner-masc.jpg">
        <div class="mask"><h1>COLEÇÃO MASCULINA</h1></div>
    </div>
    <div class="container">
        <div class="content">
            <div class="description">
                <h1>Conheça nossa coleção</h1>
            </div>
            <div class="double-wrap">
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref21314" alt="21314" style="object-position: 50% 20%;">
                    <span class="ref">REF - 21314</span>
                </div>
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref21321" alt="21321" style="object-position: 50% 50%;">
                    <span class="ref">REF - 21321</span>
                </div>
            </div>
            <div class="wrapper-img single">
                <img [defaultImage]="defaultImage" [lazyLoad]="ref21316" alt="21316"> 
                <span class="ref">REF - 21316</span>
            </div>
            <div class="triple-wrap">
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref21303" alt="21303">
                    <span class="ref">REF - 21303</span>
                </div>
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref21313" alt="21313" style="object-position: 50% 30%;">
                    <span class="ref">REF - 21313</span>
                </div>
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref21310" alt="21310">
                    <span class="ref">REF - 21310</span>
                </div>
            </div>
            <div class="double-wrap">
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref21318" alt="21318">
                    <span class="ref">REF - 21318</span>
                </div>
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref21304" alt="21304" style="object-position: 50% 20%;">
                    <span class="ref">REF - 21304</span>
                </div>
            </div>
            
            <div class="wrapper-img single">
                <img [defaultImage]="defaultImage" [lazyLoad]="ref21308" alt="21308">
                <span class="ref">REF - 21308</span>
            </div>
            <div class="double-wrap">
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref21312" alt="21312">
                    <span class="ref">REF - 21312</span>
                </div>
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref21307" alt="21307">
                    <span class="ref">REF - 21307</span>
                </div>
            </div>
            <div class="double-wrap">
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref21301" alt="21301">
                    <span class="ref">REF - 21301</span>
                </div>
                <div class="wrapper-img">
                    <img [defaultImage]="defaultImage" [lazyLoad]="ref21315" alt="21315" style="object-position: 20% 60%;">
                    <span class="ref">REF - 21315</span>
                </div>
            </div>
            <div class="wrapper-img single">
                <img [defaultImage]="defaultImage" [lazyLoad]="ref21317" alt="21317">
                <span class="ref">REF - 21317</span>
            </div>
        </div>
    </div>
    <div class="buttons">
        <a routerLink="/home">Página Inicial</a>
        <a routerLink="/contato">Entrar em Contato</a>
    </div>
</section>
<app-footer></app-footer>