<header>
    <div class="menu" [ngClass]="menuActive == false ? 'disabled-menu' : 'active-menu'">
        <div (clickOutside)="closeMenu()" class="close">
            <a (click)="closeMenu()">
                <i class="fas fa-times fa-lg"></i>
            </a>
        </div>
        <a class="menu-item" routerLink="/">HOME</a>
        <a class="menu-item" routerLink="/collections/classic">CLASSIC</a>
        <a class="menu-item" routerLink="/collections/urban">URBAN</a>
        <a class="menu-item" routerLink="/collections/authentic">AUTHENTIC</a>
        <a class="menu-item" routerLink="/company">A EMPRESA</a>
        <a class="menu-item" routerLink="/contact">ENTRE EM CONTATO</a>
        <a class="menu-item" routerLink="/representatives">REPRESENTANTES</a>
        <div class="social">
            <a href="https://www.facebook.com/vittoriovenetomenswear" target="_blank" class="face">
                <i class="fab fa-facebook fa-lg"></i>
            </a>
            <a href="https://www.instagram.com/vittoriovenetomenswear/" target="_blank" class="insta">
                <i class="fab fa-instagram fa-lg"></i>
            </a>
        </div>
    </div>
    <div class="content">
        <div (click)="activeMenu()" class="hamburger"> <i class="fas fa-bars fa-3x"></i> </div>
        <div class="left-content">
            <a routerLink="/">HOME</a>
            <div class="collection-wrapper">
                <a (click)="collectionModal = !collectionModal" class="collection-link">
                    COLEÇÃO
                </a>
                <div class="collection-modal" *ngIf="collectionModal">
                    <a routerLink="/collections/classic" class="collection-item">Classic</a>
                    <a routerLink="/collections/urban" class="collection-item">Urban</a>
                    <a routerLink="/collections/authentic" class="collection-item">Authentic</a>
                </div>
            </div>
            <a routerLink="/company">A EMPRESA</a>
        </div>
        <a class="logo" routerLink="/">
            <img src="../../../assets/img/logo.png" alt="Logo Vittorio Veneto"> </a>
        <div class="right-content">
            <a routerLink="/contact">ENTRE EM CONTATO</a>
            <a href="https://www.facebook.com/vittoriovenetomenswear" target="_blank" class="face">
                <i class="fab fa-facebook fa-lg"></i>
            </a>
            <a href="https://www.instagram.com/vittoriovenetomenswear/" target="_blank" class="insta">
                <i class="fab fa-instagram fa-lg"></i>
            </a>
        </div>
    </div>
</header>