<app-header></app-header>
<section>
    <div class="video">
        <video [muted]="'muted'" autoplay loop allow="autoplay;">
            <source src="../../assets/video/video-home.webm" type="video/webm" />
        </video>
        <div class="mask">
            <h1 class="">INVERNO 2022</h1>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div class="colections-wrapper">
                <div class="banner-image" (click)="openCollection('classic')">
                    <h1>Classic</h1>
                    <img src="../../assets/img/classic/22409-1.jpg" alt="Classic">
                </div>
                <div class="banner-image" (click)="openCollection('urban')">
                    <h1>Urban</h1>
                    <img src="../../assets/img/urban/22433.jpg" alt="Urban">
                </div>
                <div class="banner-image" (click)="openCollection('authentic')">
                    <h1>Authentic</h1>
                    <img src="../../assets/img/authentic/22425-1.jpg" alt="Authentic">
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>